---
import { Image } from "astro:assets";
interface Props {
  content: string; 
  author: string;
  image?: ImageMetadata;
}
const { content, author, image } = Astro.props;
---
<article class="prose p-4">
  <blockquote class="flex flex-col items-start gap-4">
    {content}
    <span class="text-gray-500 text-left flex justify-center items-center gap-4">
      {image && <Image
        src={image}
        class="rounded-full"
        alt={`Raquel recommendations ${author}`}
        width={50}
        height={50}
      />} - {author}
    </span>
  </blockquote>
</article>
