<a href="mailto:hello@raqueln.com">
  <button
    class="about-button bg-transparent hover:bg-bubble-gum text-bubble-gum font-semibold hover:text-white py-3 px-6 border border-bubble-gum hover:border-transparent rounded"
  >
    Let's talk!
  </button>
</a>
