---
import { Image } from "astro:assets";
import LinkedInButton from "./LinkedInButton.astro";
---

<nav
  class="w-full p-4 top-0 fixed z-10 bg-white"
  transition:name=`navigation`
  transition:animate="none"
>
  <article class="flex justify-between gap-4 m-auto max-w-4xl px-3">
    <a href="/">
      <Image
        src={`/rn-logo.png`}
        alt="Raquel Navarro product owner navigation logo"
        width={40}
        height={40}
        loading=`eager`
      /></a
    >
    <div class="flex gap-6 items-center">
      <a href="/">Use cases</a>
      <a href="/about">About</a>
      <LinkedInButton />
    </div>
  </article>
</nav>
