---
import { ClientRouter } from "astro:transitions";
import Navigation from "../components/Navigation.astro";
import ContactBar from "../components/ContactBar.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="generator" content={Astro.generator} />
    <title>Raquel Navarro product manager portfolio</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Jersey+15&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <ClientRouter />
  </head>
  <body>
    <Navigation />
    <main class="m-auto py-20">
      <div>
        <slot />
      </div>
    </main>
    <ContactBar />
  </body>
</html>

<style>
  html {
    scrollbar-width: none;
  }
</style>
